.git
.gitignore
node_modules
.vite
target
*.log
.DS_Store
.env.local
dist
build
.data
.cache
venv
__pycache__
.pytest_cache
.mypy_cache
backend/target
frontend/console/dist
frontend/console/node_modules
frontend/platform/dist
frontend/platform/node_modules
frontend/docs/dist
frontend/docs/node_modules
