name: godstack-dev

services:
  dev:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/workspace:cached
      - nix-store:/nix
      - apt-cache:/var/cache/apt
      - apt-lib:/var/lib/apt
    command: sleep infinity

volumes:
  nix-store:
  apt-cache:
  apt-lib:
