name: godstack-dev

services:
  dev:
    image: mcr.microsoft.com/devcontainers/base:ubuntu
    volumes:
      - ..:/workspace:cached
      - nix-store:/nix
    command: sleep infinity

volumes:
  nix-store:
